.body {
  background-color: rgb(2, 0, 36);
  padding: 20px;
}

h1 {
  text-align: center;
  color: rgb(90, 242, 253);
  font-size: 40px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

button {
  color: hsl(130, 91%, 65%);
  border-radius: 55px;
  height: 100px;
  width: 100px;
  font-size: 30px;
  background-color: blueviolet;

  background-color: rgb(2, 0, 36);
  padding: 20px;
  display: flex;

  /* Center horizontally */
  justify-content: center;
}

button:hover {
  text-decoration: underline;
  color: rgb(241, 237, 237);
  cursor: pointer;
}

p {
  font-size: 60px;
  color: rgb(192, 216, 236);
  text-align: center;
  margin-top: 20px;
}

.reset {
  text-align: center;
  margin-top: -107px;
  /* margin-bottom: 250px; */
  margin-left: 100px;
}
